  body{
    background: #d1c4c4;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  .container {
    text-align: center;
    margin-top: 50px;
    
  }
  
  .search-bar input {
    padding: 8px;
    margin-right: 5px;
    width: 250px;
  }
  
  .search-bar button {
    padding: 8px 12px;
    cursor: pointer;
  }
  
  .repo-details {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .error {
    color: rgb(253, 6, 6);
  }
  